<h3>Home</h3>
<p>Bienvenidos a la casa de <%= @owner.name %>.</p>
<p>Yo naci en una aldea humilde, el dia del senior <%= @owner.birthdate %>.</p>
<p>Ahora solo quedan <%= @owner.countdown %> dias para conmemorar este feliz hecho</p>