<% content_for :title do %>About<% end %>
<h3>About Lewis Carnelian</h3>
<p>Lewis Carnelian nacio en una parte principal del Garage Hermetico. Se largo de alli en cuanto pudo y atendio la universidad de lugares reconditos de l flujo de ilvaar. Acabados sus estudios, fue capaz de encontrar gainful employment con la empresa Tutor Saliba, de la cual es ahora presidente honorifico y electoral. Lewis manda calidos saludos.</p>
<p>His favorite quotation is:</p>
<p><em>"El que no se las trabaja,<br>en casa se hace una paja"</em></p>