<footer class="row">
	<section class="small-1 columns shaded">
		&copy; 2014 <%= mail_to "devbonaire@gmail.com", "fQf" %>
	</section>
	<section class="small-4 columns shaded">
		All rights reserved.
	</section>
</footer>